.idea/
*__pycache__/
*.log
*.pyc
.vscode/
launch.json
models

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
data/sentiment_prediction
data/stanfordSentimentTreebank
__MACOSX
*.pkl
*.pkl.gz
_cached